/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

img {
  max-width: 100%;
  height: auto;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: honeydew;
    font-size: 120%;
    background: url(../images/cpatrickbg.jpg) fixed;
}

header {
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    margin: 2%;
    font-family: 'Permanent Marker', cursive;

}

.card-header {
  font-family: 'Permanent Marker', cursive;
}



.display-3 {
  font-family: 'Permanent Marker', cursive;

}

h1 {
    margin-top: 5%;
    margin-left: 1%;

}

/* Links */
div a {
    color: #fa9539;
    text-decoration: none;
  }
  a:hover {
    color: white;
  }
  a:visited {
    color: #fa9539;
  }

.btn {
    margin-left: 2%;
    size: 100%;
}

main {
    overflow: auto;
    margin: 2%;
    padding: 1%;
    height: max-content;
}

.portfolio {
    display: flex;
    padding-left: 5%;
    border-top: 0%;
    margin-top: 0%;
    margin-left: 2%;
    margin-right: 0%;
    font-size: small;
    align-items: center;
}

.card {
    margin-right: 4%;
    margin-top: 0%;
    padding-top: 0%;
    border-top: 0%;
}

footer {
    height: 2%;
    margin-top: 1%;
}

.aboutMe {
    background-color: rgba(242, 176, 95, 0.8);
    padding: 1%;
    font-size: 150%;
    float: none;
    font-family: 'Abel', sans-serif;
    padding-right: 2%;
    white-space: normal;
    color: black;
    max-height: fit-content;

}

/*Portfolio Image IDs*/
#grpProj {
  overflow: scroll;
  border-style: groove;
  width: 200px;
  height: 200px;
}

#crysGame {
    overflow: scroll;
    border-style: groove;
    width: 200px;
    height: 200px;
}

#trivGame {
  overflow: scroll;
  border-style: groove;
  width: 200px;
  height: 200px;
}

#gifTastic {
    overflow: scroll;
    border-style: groove;
}

#profpic {
  width: 15%;
  float: left;
  padding: 1%;
  margin-right: 1%;

}

#gradPic {
  width: 15%;
  float: right;
  padding: 1%;
  margin-right: 1%;
}

#cookies {
  width: 15%;
  float: left;
  padding: 1%;
  margin-right: 1%;
}

#lego {
  width: 15%;
  float: right;
  padding: 1%;
  margin-right: 1%;
}

.card-header {
    font-weight: 500;
    font-size: 200%;
}

.card-text {
    font-size: 150%;
    text-align: left;
}

.link {
    font-size: 5%;
    position: bottom;

}

.icon {
  width: 10%;
  height: 10%;
  padding-left: 2%;
  padding-right: 2%;
  border:2%;
}

.contact {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: large;
  align-content: center;
}

.icon-links {
  margin-left: 20%;
  padding-left: 5%;
}